
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/libraries/Maven__com_google_android_android_2_2_1.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_3.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_0_1.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_0_1.xml
/.idea/libraries/Maven__org_json_json_20080701.xml
/.idea/libraries/Maven__org_khronos_opengl_api_gl1_1_android_2_1_r1.xml
/.idea/libraries/Maven__xerces_xmlParserAPIs_2_6_2.xml
/.idea/libraries/Maven__xpp3_xpp3_1_1_4c.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/android/android.iml
/ServerRemote.iml
/desktop/target/desktop-1.0.jar
/desktop/target/maven-archiver/pom.properties
/desktop/target
/connector/target
/android/target
/android/gen/at/valli/savage/BuildConfig.java
*.iml
/.idea